src/META-INF/wsdl/localhost_8080/CSA_cw1_ws/Threads.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CSA_cw1_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CSA_cw1_ws/" name="Threads">
<types>
<xsd:schema>
<xsd:import namespace="http://CSA_cw1_ws/" schemaLocation="http://localhost:8080/CSA_cw1_ws/Threads?xsd=1"/>
</xsd:schema>
</types>
<message name="createThread">
<part name="parameters" element="tns:createThread"/>
</message>
<message name="createThreadResponse">
<part name="parameters" element="tns:createThreadResponse"/>
</message>
<message name="newChatEntry">
<part name="parameters" element="tns:newChatEntry"/>
</message>
<message name="newChatEntryResponse">
<part name="parameters" element="tns:newChatEntryResponse"/>
</message>
<message name="displayChats">
<part name="parameters" element="tns:displayChats"/>
</message>
<message name="displayChatsResponse">
<part name="parameters" element="tns:displayChatsResponse"/>
</message>
<message name="getAllThreads">
<part name="parameters" element="tns:getAllThreads"/>
</message>
<message name="getAllThreadsResponse">
<part name="parameters" element="tns:getAllThreadsResponse"/>
</message>
<portType name="Threads">
<operation name="createThread">
<input wsam:Action="http://CSA_cw1_ws/Threads/createThreadRequest" message="tns:createThread"/>
<output wsam:Action="http://CSA_cw1_ws/Threads/createThreadResponse" message="tns:createThreadResponse"/>
</operation>
<operation name="newChatEntry">
<input wsam:Action="http://CSA_cw1_ws/Threads/newChatEntryRequest" message="tns:newChatEntry"/>
<output wsam:Action="http://CSA_cw1_ws/Threads/newChatEntryResponse" message="tns:newChatEntryResponse"/>
</operation>
<operation name="displayChats">
<input wsam:Action="http://CSA_cw1_ws/Threads/displayChatsRequest" message="tns:displayChats"/>
<output wsam:Action="http://CSA_cw1_ws/Threads/displayChatsResponse" message="tns:displayChatsResponse"/>
</operation>
<operation name="getAllThreads">
<input wsam:Action="http://CSA_cw1_ws/Threads/getAllThreadsRequest" message="tns:getAllThreads"/>
<output wsam:Action="http://CSA_cw1_ws/Threads/getAllThreadsResponse" message="tns:getAllThreadsResponse"/>
</operation>
</portType>
<binding name="ThreadsPortBinding" type="tns:Threads">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createThread">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newChatEntry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayChats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllThreads">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Threads">
<port name="ThreadsPort" binding="tns:ThreadsPortBinding">
<soap:address location="http://localhost:8080/CSA_cw1_ws/Threads"/>
</port>
</service>
</definitions>